.list_address {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: 0;
    z-index: -1;
    overflow-y: scroll;
    opacity: 0;
    transform: translateY(-100vh);
    transition: all .5s;
    padding: 8rem 2rem 5rem 2rem;
}
.list_address.active {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s;
}
.list_title {
    font-weight: 600;
    font-size: 1.2rem;
}
.list_address ul li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding: 10px 0;
}
.list_address ul li .content_icon {
    background-color: rgba(255, 255, 255, .12);
    margin-right: 10px;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
}
.list_address ul li .content_text {
    max-width: 18rem;
}