.list_address {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: 0;
    z-index: -1;
    overflow-y: scroll;
    opacity: 0;
    transform: translateY(-100vh);
    transition: all .5s;
    padding: 8rem 2rem 5rem 2rem;
}
.list_address.active {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s;
}